<form action="/reservations" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">預約</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">餐廳</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="address">人數</label>
    <input class="form-control" type="text" name="address" id="address" placeholder="Enter address">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="openingHours">日期</label>
    <input class="form-control" type="time" name="openingHours" id="openingHours" placeholder="Enter opening hours">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="openingHours">時間</label>
    <input class="form-control" type="time" name="openingHours" id="openingHours" placeholder="Enter opening hours">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>